.studies-color {
  padding: 12px;
  background: var(--color-verde-medio);
  height: 600px;
}
.studies-tittle {
  font-size: 38px;
  text-align: center;
  color: var(--color-azul-medio);
}
.text-studies {
  color: var(--color-azul-claro);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.contenido-lista {
  display: flex;
  flex-flow: column;
}
.link-studies {
  color: var(--color-rojo);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 20px;
  background: var(--color-azul-claro);
  padding: 12px;
  text-align: center;
}
.link-studies:hover {
  color: var(--color-azul-claro);
  background: var(--color-verde-medio);
}

@media only screen and (min-width: 769px) {
  .studies-color {
    padding: 12px;
    background: var(--color-verde-medio);
    height: 300px;
  }
}
